---
title: Prototype - Molinair Insurance
description: Page template for index or /personal
---

<div class="orbit">
  <div class="medium-3 columns panel quickquote">
    {{> quote}}
  </div>
  <ul class="orbit-slides" data-orbit data-options="resume_on_mouseout:true;">
    <li>
      <img src="http://placehold.it/3000x1750/A92B48/fff" alt="slide 1" />
      <div class="orbit-caption">
        Caption One.
      </div>
    </li>
    <li>
      <img src="http://placehold.it/3000x1750/EE964D/fff" alt="slide 2" />
      <div class="orbit-caption">
        Caption Two.
      </div>
    </li>
    <li>
      <img src="http://placehold.it/3000x1750/FDC43D/fff" alt="slide 3" />
      <div class="orbit-caption">
        Caption Three.
      </div>
    </li>
  </ul>
</div>

<div class="row">
  <div class="large-12 columns">
    <h2>Innovative, interactive & invaluable. Insurance solutions for every occasion</h2>
    <p>We are insurance brokers and consultants located in Mississauga, Ontario. We have been serving our local community and Ontario for over 30 years! Combining experience and premium service, we are the best place for all your personal and commercial insurance needs in the Greater Toronto Area.</p>
  </div>
</div>

<div class="row">
  <div class="small-6 medium-3 columns">
    <a href="#">
      <img class="th" alt="Mobile App" src="{{assets}}images/photos/mobApp.jpg" width="300" height="170">
    </a>
    <h4>Mobile App</h4>
    <p>We go where you go! All the support you need right on your phone.</p>
    <p><a href="https://play.google.com/store/apps/details?id=com.waxworks.ibao" target="_blank">Android</a> / 
    <a href="http://itunes.apple.com/us/app/icompanion/id542513267?ls=1&amp;mt=8" target="_blank">Apple</a> / 
    <a href="http://appworld.blackberry.com/webstore/content/119804/?lang=en" target="_blank">Blackberry</a></p>
  </div>

  <div class="small-6 medium-3 columns">
    <a href="/contact/">
      <img class="th" alt="i4c" src="{{assets}}images/photos/etower.jpg" width="300" height="170">
    </a>
    <h4>Travel Insurance</h4>
    <p>Whether you are traveling abroad or visiting Canada? We got you covered.</p>
    <p><a href="/contact/">Contact Us</a></p>
  </div>

  <div class="small-6 medium-3 columns">
    <a href="/contact/">
      <img class="th" alt="Essential Life" src="{{assets}}images/photos/el-300.jpg" width="300" height="170">
    </a>
    <h4>Essential Life</h4>
    <p>Life is even better when you and your family are protected!</p>
    <p><a href="/contact/">Talk To Us Today!</a></p>
  </div>

  <div class="small-6 medium-3 columns">
    <a href="/fresh-start/">
        <img class="th" alt="i4c" src="{{assets}}images/photos/frsh-start-300.jpg" width="300" height="170">
      </a>
      <h4>‘Fresh Start’ High Risk Auto</h4>
      <p>The #1 solution in cleaning up your auto insurance.</p>
      <p><a href="/fresh-start/">Get More Info</a></p>
  </div>
</div>

<div class="panel">
  <div class="row">
    <div class="small-12 columns text-center">
      <h2>Our Story</h2>
      <p>For over 30 years we have been building relationships in order to understand our clients unique insurance needs. Our dedicated team of licensed brokers and consultants have the knowledge and experience to provide our clients with professional and personalized service. We strive to always earn their trust &amp; satisfaction. Insurance Executives Brokers &amp; Consultants Inc. has partnered with large, innovated and financially strong insurance companies in order to provide our clients with peace of mind and the best value for their insurance costs.</p>
    </div>
  </div>
</div>
