<!doctype html>
<html itemscope itemtype="http://schema.org/WebPage" class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta content="favicon_128.png" itemprop="image">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{title}}</title>
    <link rel="shortcut icon" href="favicon.ico">
    <link rel="stylesheet" href="{{assets}}css/app.css" />
    <script src="{{assets}}js/modernizr.js"></script>
  </head>
  <body class="antialiased">

    {{> nav}}

    {{> body}}

    <footer>
      <section class="footer-top bg-slate">
        <div class="row">
          <div class="medium-6 columns">
            <h5>Announcements</h5>
            <p>We are now open Saturdays from 10am - 2pm to serve you better.<br>Need more info? Call us (905) 569 1228 / 1 (866) 229 2221.</p>
          </div>
          <div class="medium-3 columns">
            <h5>Connect with Us</h5>
          </div>
          <div class="medium-3 columns text-center">
            <h5>Affiliations</h5>
          </div>
        </div>
      </section>
      <section class="bg-dark-slate">
        <div class="row">
          <div class="medium-9 columns">
            Copyright &copy; 2014
          </div>
          <div class="medium-3 columns text-right">
            <a href="#"><strong>Back to Top</strong></a>
          </div>
        </div>
      </section>
    </footer>
    <script src="{{assets}}js/all.js"></script>
  </body>
</html>
