<!doctype html>
<html itemscope itemtype="http://schema.org/WebPage" class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta content="favicon_128.png" itemprop="image">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{title}}</title>
    <link rel="shortcut icon" href="favicon.ico">
    <link rel="stylesheet" href="{{assets}}css/app.css" />
    <script src="{{assets}}js/modernizr.js"></script>
  </head>
  <body class="antialiased">

    {{> nav}}

    {{> body}}

    <footer>
      <section class="footer-super">
        <div class="row">
          <div class="medium-6 columns">
            <h3>Get the protection you need</h3>
            <p>We are here for you when you need us! We are here for you when you need us! We are here for you when you need us!</p>
          </div>
          <div class="medium-4 columns text-center">
            <a href="#" class="button success">Get a Quote</a>&nbsp;<a href="#" class="button bg-slate">File a Claim</a>
          </div>
        </div>
      </section>
      <section class="footer-top bg-slate">
        <span class="footer-top-mask"></span>
        <div class="row">
          <div class="medium-12 large-6 columns">
            <h5>About Us</h5>
            <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean porta accumsan dolor nec porta. Pellentesque lorem quam, placerat sit amet fringilla quis, porta ac arcu. Nulla accumsan nunc in dolor convallis mollis. Duis vitae augue ac nisi accumsan scelerisque. Proin varius aliquet velit, vitae mattis eros venenatis eu. Nulla bibendum ullamcorper ante. Praesent vitae ipsum blandit, aliquet mauris sed, dictum dolor. Pellentesque hendrerit aliquam bibendum. Quisque blandit mauris sit amet volutpat vulputate. Sed non tellus tellus.</p>
          </div>
          <div class="small-6 medium-6 large-3 columns">
            <h5>Contact Us</h5>
            <p>Local: (905) 569 1228<br>
              Toll Free: 1 (866) 229 2221</p>
            <p>Address: <br>3100 Ridgeway Drive, Unit 8<br>Mississauga, ON L5L 5M5</p>
            <p><a href="#" class="button tiny bg-dark-slate">Get in touch</a>&nbsp;<a href="#" class="button tiny bg-dark-slate">Directions</a></p>
          </div>
          <div class="small-6 medium-6 large-3 columns text-center">
            <img src="{{assets}}images/logo.png" alt="Logo" class="th hide-for-small-only" style="background:white;">
            <p>&nbsp;</p>
            <a href="http://ibao.org"><img src="http://ibao.org/images/logo-footer-bip.gif" alt="Insurance Brokers Association of Canada"></a>
          </div>
        </div>
      </section>
      <section class="footer-bottom bg-dark-slate">
        <span class="footer-bottom-mask"></span>
        <div class="row">
          <div class="medium-9 columns">
            &copy; 2014 Insurance Executives. Made by Agency Revolution in Oregon. &emsp;<br class="hide-for-medium-up"> <a href="#" class="button tiny bg-slate">Privacy</a> <a href="#" class="button tiny bg-slate">Limitation of Liability</a>
          </div>
          <div class="medium-3 columns text-right">
            <a href="#"><strong>Back to Top &#8593;</strong></a>
          </div>
        </div>
      </section>
    </footer>
    <script src="{{assets}}js/all.js"></script>
  </body>
</html>
